body {
    margin: 0;
    padding: 0;
}

#nave {
    background-color: rgb(25, 23, 44) !important;
}

#nave a {
    color: white;
}





#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

@media only screen and (max-width: 600px) {
    #nave a {
        font-size: 14px;
    }
}

