body {
    margin: 0;
    padding: 0;
}

#nave {
    background-color: rgb(25, 23, 44) !important;
}

#nave a {
    color: white;
}

#container {
    display: flex;
    justify-content: end;
}

#info {
    color: white;
    margin-top: 1px;
    margin-right: 1px;
    min-width: 20%;
    background-color: rgb(25, 23, 44);
    border-radius: 10px;
}

#info h6 {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

#caixa_sair {
    text-align: center;
    margin-bottom: 10px;
}

#sair {
    color: white;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    -webkit-backdrop-filter: blur(15px);
}

#criar_user{
    color: white;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    -webkit-backdrop-filter: blur(15px);
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

@media only screen and (max-width: 600px) {
    #nave a {
        font-size: 14px;
    }
    #info h6 {
        font-size: 12px;
    }
    #info {
        min-width: 30%;
    }

    #sair {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .box {
        width: 90%;
    }
    .box input {
        padding: 5px;
    }
}

