body {
    margin: 0;
    padding: 0;
    background-color: #080710;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
  }
  
  form {
    width: 400px;
    padding: 50px 35px;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    backdrop-filter: blur(10px);
    border: 3px solid rgba(255, 255, 255, 0.1);
    ;
  }
  #quadrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #navbar {
    background-color: #333 !important;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px; /* Adiciona espaço abaixo da navbar */
}


  #navbar h1 {
      margin: 0;
  }

  form h1 {
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .option-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  .option-buttons button {
    flex: 1;
    margin-right: 10px;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    border: none;
  }
  
  .option-buttons button:last-child {
    margin-right: 0;
  }
  