files:
  "/opt/python/run/ebgunicorn/conf.d/gunicorn.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      bind = "0.0.0.0:8000"
      workers = 5  # Ajuste o número de workers conforme necessário
      timeout = 300
      worker_class = "sync"
      accesslog = "-"  # Para que os logs de acesso sejam exibidos no console
      errorlog = "-"   # Para que os logs de erro sejam exibidos no console
      loglevel = "info"
      wsgi_app = "Bot_sapf.wsgi:application"

container_commands:
  01_reload_gunicorn:
    command: "sudo systemctl restart web.service"
