files:
  "/etc/nginx/conf.d/static_media.conf":
    mode: "000644"
    owner: root
    group: root
    content: |

      location /static/ {
          alias /var/app/current/staticfiles/;
          expires 30d;
          add_header Cache-Control "public, must-revalidate";
      }

     
      location /media/ {
          alias /var/app/current/Bot_sapf/media/;
          expires 30d;
          add_header Cache-Control "public, must-revalidate";
      }
