<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - FreelaFront</title>
</head>
<body>
    <h1>Bem-vindo à Landing Page</h1>
    <p>Esta é a página inicial do FreelaFront. Escolha uma das opções abaixo:</p>
    <ul>
        <li><a href="{% url 'login2' %}">Página de Login</a></li>
        <li><a href="{% url 'pagina1' %}">Página 1</a></li>
    </ul>
</body>
</html>
