

.box{
    border: double 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 30px;
}

.contai{
    float: right;
}

.contai{
    font-size: 15px;
}

.formulario{
    font-weight: bold;
}



.erro{
    background-color: yellowgreen;
    width: 20%;
}

.formulario input:not(#ver_senha){
    width: 100%;
    margin-bottom: 10px;
    outline: none;
    
}
#ver_senha{
    margin-bottom: 20px;
    margin-left: 5px;
}

#quadradin{
    margin-bottom: 10px;
}
.logar{
    position: absolute;
    top: -3%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    font-weight: bold;
    padding: 2px;
}


#div_botao{
    text-align: center;
}

.botao_logar{
    font-weight: bold;
    background-color: rgb(220, 218, 211);
}



@media (max-width: 600px) {
    body{
        font-size: 12px !important;
    }
    .box{
        width: 90%;
    }
    .logar{
        margin-top: 5px;
    }
}


