<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha do Cidadão</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel=" stylesheet" href="{% static 'usuario/css/ficha_cidadao.css' %}">
</head>
<body>
    <nav id="barra" class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <!-- colocar a logo do partido-->
            <img src="{% static 'img/' %}" width="30" height="30" class="d-inline-block align-top" alt="">
            SAPF - Partido do Desenvolvimento Sustentável
        </a>
    </nav>

    <div id="content">
        <div id="nabar">
            <p>Nome: {{ user_data.name }}</p>
            <p>Nº Título: {{ user_data.titulo }}</p>
            <p>Partido: {{ user_data.partido }}</p>
        </div>
    </div>

    <div>
        <div class="content">
            <table id="tabela" class="table table-bordered table-striped table-sm">
                <tr>
                    <th>Nome:</th>
                    <td>{{ resultado.nome }}</td>
                </tr>

                <tr>
                    <th>CPF:</th>
                    <td>{{ resultado.cpf }}</td>
                </tr>

                <tr>
                    <th>Título Eleitoral:</th>
                    <td>{{ resultado.nTitulo }}</td>
                </tr>

                <tr>
                    <th>Situação:</th>
                    <td>{{ resultado.situacao }}</td>
                </tr>

                <tr>
                    <th>Zona Eleitoral:</th>
                    <td>{{ resultado.zona }}</td>
                </tr>

                <tr>
                    <th>Seção:</th>
                    <td>{{ resultado.secao }}</td>
                </tr>
            </table>
            <form action="" method="POST">{% csrf_token %}
                <button style="margin-left: 40%;" type="submit" class="btn btn-danger">Imprimir PDF</button>
            </form>
        
    </div>


    <footer id="footer">
        <p>SAPF - Sistema de Apoiamento a Partido em Formação, Versão: 2.17.11, Tribunal Superior Eleitoral.</p>
    </footer>
</body>
</html>
