{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'usuario/css/buscar.css' %}">
    <title>Consulta por nome</title>
</head>
<body>

   

    <div class="container">
        <header>
            <h1>Buscar por Nome</h1>
        </header>
    
        <section class="search-form">
            <form method="POST" id="modernForm">{% csrf_token %}
                <div class="input-field">
                    <input type="text" id="nameSearch" placeholder="Digite o Nome">
                    <label for="nameSearch">Nome</label>
                </div>
    
               
    
                <div class="form-actions">
                    <input id="cadastrar" type="button" value="Voltar" onclick="history.back()">
                    <input id="cadastrar" type="submit" value="Buscar">
                </div>
            </form>
        </section>
    </div>

    



</body>
</html>
